#root {
  max-width: 1280px;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  color: aliceblue;
}

.image-container {
  width: 100%;
  height: 100%;
  background-color: gray;
  background-image: url("https://github.com/uxderrick/Waavify/blob/main/src/assets/bg-image.jpeg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;

  &:hover {
    color: #30a46c;
  }
}

.heading {
  color: var(--default-colors-white, #fff);
  /* Typography/8/Medium */
  font-size: 35px;
  font-style: normal;
  font-weight: 510;
  line-height: 40px; /* 114.286% */
  letter-spacing: -0.16px;
}

.card-title {
  color: var(--grays-gray-10, #818181);
  /* Text/5/400 */
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 30.4px */
}

.card-value {
  color: var(--default-colors-white, #fff);
  /* font-size: 35px; */
  font-style: normal;
  font-weight: 510;
  line-height: 40px; /* 114.286% */
  letter-spacing: -0.16px;
}
.card {
  display: flex;
  padding: var(--space-5, 24px) 32px;
  align-items: flex-start;
  gap: var(--space-2, 8px);
  flex: 1 0 0;
  border-radius: 16px;
  background: var(--grays-gray-3, #282828);
  min-width: 300px;
}
