#root {
  max-width: 1280px;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  color: aliceblue;
}

.image-container {
  width: 100%;
  height: 100%;
  background-color: gray;
  background-image: url("https://github.com/uxderrick/Waavify/blob/main/src/assets/bg-image.jpeg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;

  &:hover {
    color: #30a46c;
  }
}
.main {
  display: flex;
  /* gap: var(--space-5, 24px); */
  flex: 1;
}

.heading {
  color: var(--default-colors-white, #fff);
  /* Typography/8/Medium */
  font-style: normal;
  font-weight: 510;
  line-height: 40px; /* 114.286% */
  letter-spacing: -0.16px;
}

.card-title {
  color: var(--grays-gray-10, #818181);
  /* Text/5/400 */
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 30.4px */
}

.card-value {
  color: var(--default-colors-white, #fff);
  /* font-size: 35px; */
  font-style: normal;
  font-weight: 510;
  line-height: 40px; /* 114.286% */
  letter-spacing: -0.16px;
}
.card {
  display: flex;
  padding: var(--space-5, 24px) 32px;
  align-items: flex-start;
  gap: var(--space-2, 8px);
  flex: 1 0 0;
  border-radius: 16px;
  background: var(--grays-gray-3, #282828);
  min-width: 300px;
}

.create-new {
  display: flex;
  width: 284px;
  height: 284px;
  padding: var(--space-5, 24px);
  gap: var(--space-2, 8px);
  border-radius: var(--radius-5-max, 12px);
  background: var(--semantic-colors-success-10, #299764);
  cursor: pointer;

  &:hover {
    background: var(--semantic-colors-success-20, #30a46c);
  }
}

.invoice {
  display: flex;
  width: 285px;
  height: 285px;
  padding: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--radius-5-max, 12px);
  border: 1px solid var(--grays-gray-5, #373737);
  background: var(--grays-gray-5, #373737);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--grays-gray-10, #818181);
  }
}

.invoice-desc {
  color: var(--grays-gray-11, #b1b1b1);
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    padding: var(--space-5, 24px) 24px;
  }

  .right-side {
    display: none;
  }

  .create-new {
    width: 100%;
    height: 100%;
    padding: var(--space-5, 24px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .invoice {
    width: 100%;
    height: 100%;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.invoice-icons {
  display: flex;
  width: 48px;
  height: 48px;
  padding: var(--space-2, 8px);
  background: var(--grays-gray-7, #4a4a4a);
  border-radius: var(--radius-5-max, 999px);

  &:hover {
    background: var(--grays-gray-10, #818181);
  }
}

.rt-TextFieldChrome {
  border-radius: 8px;
}

.icon {
  &:hover {
    color: var(--semantic-colors-success-10, red);
  }
}

.question {
  color: var(--grays-gray-10, #818181);

  /* Typography/8/Medium */
  font-style: normal;
  font-weight: 510;
  line-height: 40px; /* 114.286% */
  letter-spacing: -0.16px;
}

.question-field {
  height: var(--space-9, 56px);
  font-size: 20px;
  border-radius: 40px;
  margin: 2px 16px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .question-field {
    font-size: 16px;
    margin: 0px 8px;
  }
}

.calendar {
  /* color: #299764; */
  background: transparent;
  border: none;
  color: white;
}

.label {
  color: var(--neutral-color-neutral-9, #696e77);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.04px;
}

.value {
  color: var(--default-colors-black, #1c2024);
  font-size: 12px;
  font-weight: 510;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.04px;
}

.s-total {
  color: var(--grays-gray-9, #8d8d8d);

  /* Typography/2/Bold */
  font-size: 12px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.description {
  color: var(--grays-gray-10, #808080);

  /* Typography/1/Regular */
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.04px;
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  padding: 0%;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 90vw;
  max-width: 450px;
  max-height: 85vh; */
  /* padding: 25px; */
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
